.attributePredictionHeader
{
	border-top: 1px solid black;
	margin-top:1rem;
}
.attributePredictionContainer
{
	display: flex;
	flex-wrap: wrap;
}
.attributePredictionContainer > .attributePredictionItem
{
	width: 50%;
	display: flex;
	align-items: center;
}
.attributePredictionContainer > .attributePredictionItem > .attributePredictionSingle
{
	width: 30px;
	font-size: 16px;
	text-align: right;
}
.attributePredictionContainer > .attributePredictionItem > img
{
	width: 20px;
	height: 20px;
}
.attributePredictionContainer > .attributePredictionItem .attributePredictionRange
{
	font-size: 12px;
	padding-left: 3px;
}
.character-screen .ui-control.popup-dialog.unlock-perk-popup
{
	min-height: 30.0rem;
	height: auto;

	background-size: 60.0rem 100%;
}
.character-screen .ui-control.popup-dialog .unlock-perk-popup-dialog-content-container
{
	min-height: 17.7rem;
	height: auto;
}
.hire-screen-perks-container,
.hire-screen-perkgroups-container
{
	height: 65%;
	display: none;
	padding-top: 2rem;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.rf_tacticalTooltipAttributeList
{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 24rem;
}
.rf_tacticalTooltipAttributeList > .rf_tacticalTooltipAttributeEntry
{
	width: 7rem;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.rf_tacticalTooltipAttributeList > .rf_tacticalTooltipAttributeEntry.rf_tacticalTooltipAttributeEntryDoubleWide
{
	width: 14rem;
}
.rf_tacticalTooltipAttributeList > .rf_tacticalTooltipAttributeEntry .rf_tacticalTooltipAttributeValue
{
	padding-left: 2px;
}
.rf_tacticalTooltipAttributeList > .rf_tacticalTooltipAttributeEntry img
{
	width: 20px;
	height: 20px;
}

.rf_tacticalTooltipAttributeList > .rf_tacticalTooltipAttributeEntry > .rf_tacticalTooltipAttributeDelta
{
	font-size: 10px;
}

.rf_tacticalTooltipReachContainer,
.rf_tacticalTooltipWaitContainer
{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 24.0rem;
}

.rf_tacticalTooltipReach
{
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.rf_tacticalTooltipReach img
{
	object-fit: cover;
	width: 20px;
	height: 20px;
}
.ui-control-stats-progressbar.rf_reach,
.ui-control-stats-progressbar-preview.rf_reach
{
	background-color: #7a1e12;
}
.ui-control.progressbar.rf_reach .normal-bar,
.ui-control.progressbar.rf_reach .preview-bar
{
    background-image: url("coui://gfx/ui/skin/inventory_bar_fill_neutral_127.png");
    background-size: 12.7rem 2.2rem;
    background-repeat: no-repeat;
}
