.attributePredictionHeader
{
	border-top: 1px solid black;
	margin-top:1rem;
}
.attributePredictionContainer
{
	display: flex;
	flex-wrap: wrap;
}
.attributePredictionContainer > .attributePredictionItem
{
	width: 50%;
	display: flex;
	align-items: center;
}
.attributePredictionContainer > .attributePredictionItem > .attributePredictionSingle
{
	width: 30px;
	font-size: 16px;
	text-align: right;
}
.attributePredictionContainer > .attributePredictionItem > img
{
	width: 20px;
	height: 20px;
}
.attributePredictionContainer > .attributePredictionItem .attributePredictionRange
{
	font-size: 12px;
	padding-left: 3px;
}

.perkGroupTooltipContainer .perkGroupImage
{
	width: 3.5rem;
	height: 3.5rem;
}
