.world-campfire-screen .hire-screen-perks-container
{
	height: 65%;
	padding-top: 2rem;
	display:flex;
	flex-direction:column;
	justify-content: left;
	align-items: left;
}


.world-campfire-screen .l-hire-dialog-container .is-in-current-town
{
	box-shadow: 0 0 1px 2px green;
}

.world-campfire-screen > .l-hire-dialog-container .l-tab-asset.is-generic-tools
{
    left: 16.0rem;
}

.world-campfire-screen .popup-dialog .right-column
{
	height:100%;
}

.world-campfire-screen .popup-dialog  .is-follower-tool-cost-container
{
	position:absolute;
	top: 13rem;
	width:100%;
	display: flex;
	flex-direction: row;
}
.world-campfire-screen .popup-dialog  .is-follower-tool-cost-container > img
{
	height:4rem;
	width:4rem;
}
.world-campfire-screen .popup-dialog  .is-follower-tool-cost-container > div
{
}

.world-campfire-screen > .l-hire-dialog-container .content .details-container .row.is-costs-container > .row .costs-label.is-daily
{
	left: 25.0rem;
}
.world-campfire-screen > .l-hire-dialog-container .content .details-container .row.is-costs-container > .row .l-costs-container.is-daily
{
    left: 32.0rem;
}
